# Archivos de configuración local
.env

# Archivos de logs y caché
*.log
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos grandes que no deberían subirse
data/processed/*.parquet
data/processed/*.json
data/processed/*.npy

# Ignorar todos los archivos en processed, excepto la carpeta vacía
data/processed/*
!data/processed/.gitkeep

# Archivos de Elasticsearch (si se crean en el proyecto)
es_data/
